* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-decoration: none;
}



body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:"RobotoDraft", Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.my-datepicker .form-control {
    width: 1px;
}

* .md-focused {
    background-color: rgba(0, 0, 0, 0) !important;
}
md-input-container label{
    font-size:16px !important;
    color:#333;
}
.card-media {
  background-color: #999999; }
.selectedbox{
    color:#f44336;border:solid 1px #f44336;
}

md-checkbox.md-checked.red .md-icon {
 background-color: #f44336;
}
.human:hover{
    opacity:.8;
}
.human {
    cursor:pointer;
    height:100px;
    width:100px;
    margin:1em;
    border-radius:50%;
    border:solid 1px #eee;
    background-image:url(humanicons.jpg);
    box-shadow:#ddd 3px 3px 1px;
}

.boy{
    background-position-x:-120px;
    background-position-y:255px;
}
.girl{
    background-position-x:-120px;
    background-position-y:150px;
}
.man{
    background-position-x:-225px;
    background-position-y:260px;
}
.woman{
    background-position-x:-225px;
    background-position-y:150px;
}
.personlbl{
    font-weight:700;
    margin-bottom:-30px;
    text-align:center;

}
.stopchoice{
    line-height:1.1em;
}
 #map {
             height:700px;
              width:100%;
              max-height:100%;
          }
 .busno{
     height:3em;
     width:3em;
     min-width:3em;
    display: flex;
  align-items: center;
  justify-content: center;
  margin-right:1em;
  font-weight:700;

 }
  .busno span{
      font-family:M54;
     font-size:2em;
    color:#fff;
     font-weight:100;
    margin: 0;
    opacity:.9;
  }

  .busnosmall{
   
     height:1em;
     width:1em;
    display: flex;
  align-items: center;
  justify-content: center;
 margin:1px;
 }
  .busnosmall span{
       font-family:M54;
     font-size:0.6em;
    color:#fff;
     font-weight:700;
    margin: 0;
     opacity:.9;
  }
.leaflet-popup-content{
      font-family: tharlon;
}
.stopchoicelst{
    margin-bottom:10px;
    margin-left:-1em;
    margin-right:-1em;
}

@font-face {
    font-family: tharlon;
    src: local(Tharlon-regular), url('NotoSansMyanmar-Regular.ttf') format('opentype');
}
@font-face {
    font-family: M54;
    src: local(New Athletic M54), url('Roboto-Regular.ttf') format('opentype');
}
@font-face {
    font-family: Material Icons;
    src: local(MaterialIcons-Regular), url('MaterialIcons-Regular.ttf') format('opentype');
}
.material-icons {
    font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.titletext{
    font-family:tharlon;
    font-size:1em;padding-top:5px;display:block;

}
body{
    font-family:tharlon;
}

.fixbutton{
    position:fixed !important;
    right:1em;
    bottom:1em;
    z-index:100000;
    float:left;
    
}
.menubutton span{
    float:left;
    align-items: flex-start;
  justify-content: center;
}